<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="javascripts/jquery-1.8.3.min.js"></script>

</head>
<body>
	
	<%- body %>
</body>
<%- scripts %>
</html>