<!DOCTYPE html>
<html>
<head>
<title>Labeling</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.cityTable, .cityTable th, .cityTable td{
border:black 1px solid;
border-collapse:collapse;
}
.labelType, .label, .label input, .selector{
float:left;
}
.labelType{
font-weight:800;
}
.cityId, .labelId{
display:none;
}
</style>
</head>
<body>
<div id="mainPanel">
  <div class="label1">
    <label class="labelType">一级标签：</label>
  </div>
  <button class="btnAddLabel1">添加标签</button>
  <div style="clear:both"></div>
  <!--
  <div class="label2">
    <label class="labelType">二级标签：</label>
    <div class="label">
      <input type="checkBox"/>
	  <div class="labelName selector">家庭</div><div class="labelId">5145b63f67dad0f707000002</div>
    </div>
	<div class="label">
      <input type="checkBox"/>
	  <div class="labelName selector">家庭</div><div class="labelId">5145b63f67dad0f707000002</div>
    </div>
	<div class="label">
      <input type="checkBox"/>
	  <div class="labelName selector">家庭</div><div class="labelId">5145b63f67dad0f707000002</div>
    </div>
  	<button class="btnAddLabel2">添加标签</button>
  </div>
  <div style="clear:both"></div>
  -->
  <table class="cityTable">
    <thead>
      <tr>
        <th><input class="allChecked" type="checkbox"/>
          全选</th>
        <th>城市名</th>
        <th>City Name</th>
        <th>主标签</th>
        <th>二级标签</th>
        <th>景点</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="javascripts/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="javascripts/underscore-min.js"></script>
<script type="text/template" id="label1Template">
<div class="label">
  <input type="radio" name="level1" value="<%= labelId %>"/>
  <div class="labelName selector"><%= labelName %></div>
</div>
</script>
<script type="text/template" id="cityTemplate">
      <tr class="cityItem">
        <td><input class="cityCheck" type="checkbox"/></td>
        <td><div class="cityName"><%= cityName %><div class="cityId"><%= cityId %></div></div></td>
        <td><%= cityNameEn %></td>
        <td><div class="masterLabel"><div class="labelName"><%= masterLabel %></div><div class="labelId"><%= masterLabelId %></div></div></td>
        <td><%= subLabels %></td>
        <td><a href="AttractionsLabeling.html#<%= cityName %>" target="_blank">景点</a></td>
      </tr>
</script>
<script type="text/javascript">
function getLabelFromId(labelId){
    if(labelId===undefined||labelId==='') return false;
    var dd = $.ajax({ url: "/getLabelByID/"+labelId, async: false }).responseText;
    if(dd===null||dd==='') return false;
    else{
        return  $.parseJSON(dd)['label'];
    }
}
function getLabelsFromIds(labelIds){
	var labelStr = "";
	labelIds.each( function(){
						var label = getLabelFromId(this);
						labelStr += "<div class=\"labelName\">" + label + ",</div><div class=\"labelId\">"+this+"</div>";
					});
	return labelStr;
}

function init(){
	$(".allChecked").click( function(){
								if($(this).attr("checked") == "checked")
									$(".cityCheck").attr("checked", true);
								else
									$(".cityCheck").attr("checked", false);
							});
}

function addLabel1ToCities(labelId, cityList){
	//alert("主标签id： "+labelId+"\n"+"城市id： "+cityList);
	$.ajax({
			url: "/addMasterLabelToCities",
			type: "POST",
			data: {
				'labelId':labelId,
				'cityList':cityList
			},
			success: function(data){
						console.log(data);
					}
			});
}

(function($) {
	init();
	$.ajax({
			url: "/getLabelByLevel/1",
			type: "GET",
			success: function(data){
						var masterLabelList = $(data["label"]);
						masterLabelList.each( function(){
												var labelId = this['_id'];
												var labelName = this['label'];
												var variables = {
													"labelId" : labelId,
													"labelName" : labelName
												};
												var html = _.template( $("#label1Template").html(), variables );
												$(".label1").append(html);
											});
					}
			});
	$.ajax({
                url:'/getCityByPage/40/1',
                type:'GET',
                success:function (data) {
					var $cityList = $(data['city']);
					$cityList.each( function(){
										var cityId = this['_id'];
										var cityName = this['cityname'];
										var cityNameEn = this['cityname_en'];
										var masterLabelId = this['masterLabel'];
										var subLabelIds = $(this['subLabel']);
										var variables = { 
											"cityId" : cityId,
											"cityName" : cityName,
											"cityNameEn" : cityNameEn,
											"masterLabelId" : masterLabelId,
											"masterLabel" : getLabelFromId(masterLabelId),
											"subLabels" : getLabelsFromIds(subLabelIds)
										 };
										var html = _.template( $("#cityTemplate").html(), variables );
										$(".cityTable tbody").append(html);
									});
                  }
            });
			
	$(".btnAddLabel1").click( function(){
								var checked = $('input:radio[name="level1"]:checked');
								var labelId = checked.val();
								var labelName = $(".labelName", checked.parent()).html();
								if(labelId == null){
									alert("请选择一个标签！");
									return;
								}
								var checkedCity = new Array();
								$(".cityItem").each( function(){
														if( $(".cityCheck", this).attr("checked") == "checked")
															checkedCity.push($(".cityId", this).html());														
													});
								if(checkedCity.length == 0){
									alert("请选择需要打标签的城市");
									return;
								}
								addLabel1ToCities(labelId, checkedCity);
								window.open("CityLabeling2.html#"+labelId+"#"+labelName);								
							});
})(jQuery);
</script>
</body>
</html>
